a, a:hover, a:focus {
    color: #993399;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #993399 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #993399 !important;
    background-color: transparent;
}
.navbar-brand{
    color: #993399 !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #993399 !important;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #993399;
}




.btn-subscribe,
.btn-contact {
    background: #993399;
    border: 1px solid #5491d5;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #6aa7df;
    -moz-box-shadow: inset 0 1px 0 #6aa7df;
    box-shadow: inset 0 1px 0 #6aa7df;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.btn-subscribe:hover,
.btn-contact:hover {
    background: #993399;
    border: 1px solid #4070b1;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #993399;
    -moz-box-shadow: inset 0 1px 0 #993399;
    box-shadow: inset 0 1px 0 #993399;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.btn-subscribe:active,
.btn-contact:active {
    background: #993399;
    border: 1px solid #4070b1;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #993399;
    -moz-box-shadow: inset 0 1px 0 #993399;
    box-shadow: inset 0 1px 0 #993399;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.top-content .logo a {
    color: #993399;
}

.top-content .logo a:hover {
    color: #993399;
}

.cbp-l-filters-work .cbp-filter-item:hover {
    /* @editable properties */
    color: #fff;
    background: #993399;
}

.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active {
    /* @editable properties */
    background: #993399;
    color: #fff;
    cursor: default; }

.cbp-l-grid-work-title:hover {
    /* @editable properties */
    color: #993399; }

.cbp-l-project-details-visit {
    /* @editable properties */
    background: #993399;
    border: 1px solid #5491d5;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #6aa7df;
    -moz-box-shadow: inset 0 1px 0 #6aa7df;
    box-shadow: inset 0 1px 0 #6aa7df;
}

.cbp-l-project-details-visit:hover {
    /* @editable properties */
    background: #993399;
    border: 1px solid #4070b1;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #993399;
    -moz-box-shadow: inset 0 1px 0 #993399;
    box-shadow: inset 0 1px 0 #993399;
}


.features-box1 .icon i, .features-box2 .icon i, .features-box3 .icon i, .features-box4 .icon i, .features-box5 .icon i, .features-box6 .icon i{
    color: #993399;
}


.features-box1:hover .icon i, .features-box2:hover .icon i, .features-box3:hover .icon i, .features-box4:hover .icon i, .features-box5:hover .icon i, .features-box6:hover .icon i{
    color: #993399;
}

.productbox div {
    color: #993399 !important;
}
.productbox:hover div {
    color: #993399 !important;
}
.price-column.large h2 {
    padding: 30px 0;
    background: #993399;
}

.social-icon :hover {
    color: #993399;
}


.copyright a:hover {
    color: #993399;
}
