/***** General *****/



body {

    background: #fff;

    font-family: 'Open Sans', sans-serif;

    font-weight: 400;

    -webkit-font-smoothing: antialiased;

    -webkit-text-size-adjust: 100%;

}



:focus {

    outline: 0 !important

}



strong {

	font-weight: 600;

}



a, a:hover, a:focus {

	color: #0dc0c0;

	text-decoration: none;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



*,

*:before,

*:after {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}



h2 {

	margin-top: 10px;

    font-family: 'Dosis', sans-serif;

	color: #fff;

    font-size: 52px;

    font-weight: 400;

    line-height: 56px;

}



h3 {

	margin-top: 10px;

    font-family: 'Open Sans', sans-serif;

	color: #fff;

    font-size: 32px;

    font-weight: 300;

    line-height: 36px;

}



img { max-width: 100%; }



::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }

::selection { background: #ccc; color: #fff; text-shadow: none; }



/***** Buttons *****/



.btn:focus, .btn:active:focus, .btn.active:focus {

	outline: 0;

	color: #fff;

}



.btn {

  border-radius: 0px;

  margin-bottom: 20px;

    font-weight: 600;

    font-family: 'Dosis', sans-serif;

}



.btn-lg {

	display: inline-block;

	height: 52px;

    margin:20px;

    padding: 0 20px;

	background: #0dc0c0;

    font-size: 22px;

    line-height: 48px;

    color: #fff;

}



.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active {

	background: #0dc0c0;

	color: #fff;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.btn-primary {

	display: inline-block;

	height: 52px;

	margin: 0;

    margin-bottom:40px;

    padding: 0 20px;

    background: none;

  border: 1px solid #fff;

    font-size: 18px;

    font-weight: 600;

    line-height: 48px;

    color: #fff;

}



.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {

	background: #fff;

	color: #0dc0c0;

  border: 1px solid #fff;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.btn-top {

    border-radius: 2px;
	display: inline-block;

	height: 52px;

    margin:20px;

    padding: 0 20px;

    font-size: 18px;

    line-height: 48px;

  background: #2d323a;

  /*border: 1px solid #24282e;*/

  color: #c9d1d6 !important;

  /*-webkit-box-shadow: 0 1px 0 #363c46!important;*/

  /*-moz-box-shadow: 0 1px 0 #363c46!important;*/

  /*box-shadow: 0 1px 0 #363c46!important;*/

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}



.btn-top:hover, .btn-top:focus, .btn-top:active, .btn-top.active {

  background: rgba(56, 65, 71, 0.9);

  /*border: 1px solid #32383f;*/

  color: #e8edef !important;

  /*-webkit-box-shadow: inset 0 1px 0 #424c54;*/

  /*-moz-box-shadow: inset 0 1px 0 #424c54;*/

  /*box-shadow: inset 0 1px 0 #424c54;*/

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.btn-top-white {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

	display: inline-block;

	height: 52px;

    margin:20px;

    padding: 0 20px;

    font-size: 18px;

    line-height: 48px;

  background: rgba(53, 202, 195, 1);

  /*border: 1px solid rgba(53, 202, 195, 0.15);*/

  color: rgba(255, 255, 255, 0.9) !important;

  /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/

  /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/

  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/

}



.btn-top-white:hover, .btn-top-white:focus, .btn-top-white:active, .btn-top-white.active {

  background: rgba(53, 202, 195, 0.8);

  /*border: 1px solid rgba(53, 202, 195, 0.8);*/

  color: #fff !important;

  /*-webkit-box-shadow: 0 0px 12px rgba(53, 202, 195, 0.15);*/

  /*-moz-box-shadow: 0 0px 12px rgba(53, 202, 195, 0.15);*/

  /*box-shadow: 0 0px 12px rgba(53, 202, 195, 0.15);*/

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



/***** Form elements *****/



.form-control {

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

}

.form-control:focus {

  border-color: #98A0A8;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

}



input[type="text"],

textarea {

    margin: 0;

    padding: 0 10px;

    vertical-align: middle;

	background: none;

    border: 1px solid #98A0A8;

    font-family: 'Open Sans', sans-serif;

    font-size: 16px;

    font-weight: 300;

    line-height: 50px;

    color: #999;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

    border-radius: 0;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    box-shadow: none;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



input[type="text"]:focus,

textarea:focus {

	outline: 0;

    border: 1px solid #98A0A8;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    box-shadow: none;

}



input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { color: #888;

}



input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {

color: #888;

}



input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {

color: #888;

}



.btn-subscribe,

.btn-contact {

    margin: 0;

    padding: 0;

    vertical-align: middle;

    font-family: 'Dosis', sans-serif;

    font-size: 18px;

    font-weight: 600;

    line-height: 52px;

    background: #0dc0c0;

    border-radius: 2px;

  /*border: 1px solid #09b1b9;*/

  color: #fff !important;

  /*-webkit-box-shadow: inset 0 1px 0 #0fc8c8;*/

  /*-moz-box-shadow: inset 0 1px 0 #0fc8c8;*/

  /*box-shadow: inset 0 1px 0 #0fc8c8;*/

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.btn {
    text-shadow: none!important;;
}
.btn:active, .btn:focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
  }


.btn-subscribe:hover,

.btn-contact:hover {

  background: #009ca8;

  /*border: 1px solid #0092a0;*/

  color: #fff !important;

  /*-webkit-box-shadow: inset 0 1px 0 #00a6b1;*/

  /*-moz-box-shadow: inset 0 1px 0 #00a6b1;*/

  /*box-shadow: inset 0 1px 0 #00a6b1;*/

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.btn-subscribe:active,

.btn-contact:active {

	outline: 0;

  background: #009ca8;

  /*border: 1px solid #0092a0;*/

  color: #fff !important;

  /*-webkit-box-shadow: inset 0 1px 0 #00a6b1;*/

  /*-moz-box-shadow: inset 0 1px 0 #00a6b1;*/

  /*box-shadow: inset 0 1px 0 #00a6b1;*/

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}



.btn-subscribe:focus,

.btn-contact:focus {

	outline: 0;

	color: #fff;

}



/***** Top menu *****/



.navbar-default {

    font-family: 'Dosis', sans-serif;

    border:none;

    border-radius: 0;

    margin-bottom: 0;

    width:100%;

    min-height: 70px;

    padding: 20px 0;

    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);

    background: #fff;

    transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

    -moz-transition: all 0.4s ease-in-out;

    -o-transition: all 0.4s ease-in-out;

    -ms-transition: all 0.4s ease-in-out;

}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

    color: #0dc0c0 !important;

	background-color: transparent;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {

    color: #0dc0c0 !important;

	background-color: transparent;

}

.navbar-brand{

    font-weight: 700;

    color: #0dc0c0 !important;

    font-size: 22px;

    line-height: 20px;

    background: url(../img/logo-white.svg) center center no-repeat;
    background-size: 100% auto;
    display: block;
    width: 150px;
    height: 50px;

}

@media (max-width: 767px) {
    .navbar-default.menu-top .navbar-brand {
        background: url(../img/logo-black.svg) center center no-repeat;
        background-size: 100% auto;
        margin-left: 15px;
    }
}


.navbar-default.menu-shrink .navbar-brand {
    background: url(../img/logo-black.svg) center center no-repeat;
    background-size: 100% auto;
}

.navbar-default .navbar-nav>li>a {

    color: #323A45;

    font-weight: 700;

    font-size: 16px;

}

.navbar-default .navbar-nav>li>a:hover {

    color: #0dc0c0 !important;



}



.navbar-default.menu-top{

	background-color: transparent;

	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);

	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);

	-o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);

	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);

    width:100%;

}

.navbar-default.menu-shrink{

    padding: 10px 0;

	background-color: #fff;

    /*border-bottom: 2px solid #eee;*/

    width:100%;

}



.navbar-default.menu-top li a{

    color: #f3f3f3 !important;

}

.navbar-default.menu-top .navbar-brand{

    color: #f3f3f3 !important;

}

.navbar-default.menu-shrink .navbar-brand{

    color: #323A45 !important;

}



.navbar-default.menu-shrink li a{

    color: #323A45 !important;

}



.navbar-default .navbar-toggle {

  border-color: #323A45;

}

.navbar-default .navbar-toggle:hover,

.navbar-default .navbar-toggle:focus {

  background-color: #323A45;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #0dc0c0;

}





/***** Top content *****/



.top-content {

    margin: 0 auto;

    text-align: center;

    color: #fff;

    background: url("../img/backgrounds/1.jpg");

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

}



.inner-bg {

    padding: 0;

	padding-top: 180px;

	padding-bottom: 180px;

    background-color: rgba(69, 113, 113, 0.4);

}



.top-content .text {

	padding-top: 50px;

}





.top-content h2 {

	font-family: 'Dosis', sans-serif;

    font-size: 48px;

    line-height: 80px;

	margin: 110px 0 10px 0;

	font-weight: 600;

}



.top-content .logo h1 {

	margin: 0;

}



.top-content .logo a {

	display: inline-block;

    font-size: 58px;

    line-height: 68px;

	font-weight: 600;

    color: #0dc0c0;

}



.top-content .logo a:hover {

    color: #0dc0c0;

}





.top-content .description {

	margin: 40px 0 10px 0;

    font-size: 28px;

    line-height: 38px;

	font-weight: 400;

}



.top-content .top-button {

	margin-top: 40px;

	margin-bottom: 40px;

}





/***** Features *****/



.features-container {

    margin: 0 auto;

    padding-bottom: 60px;

    color: #888;

    text-align: center;

}



.features {

    margin-top: 60px;

    padding-bottom: 10px;

}


.features-box {
    min-height: 300px;
}


.features-box1 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box2 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box3 {

	text-align: center;

	background: transparent;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box5 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box6 {

	text-align: center;

	background: transparent;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box7,
.features-box8,
.features-box9 {
    padding-top: 40px;
    border-top: 1px solid #E3E3E3;
}

.features-box8 {
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
}

.features-box7 h4,
.features-box8 h4,
.features-box9 h4 {
    padding: 10px 0;

    font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;
}

.features-box7 p,
.features-box8 p,
.features-box9 p {
    padding: 0 24px;

    font-size: 14px;

    line-height: 24px;
}

.features-box1:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box1 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box1 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box1 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box1 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box1:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box1:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box2:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box2 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box2 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box2 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box2 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box2:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box2:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box3:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box3 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box3 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box3 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box3 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;
    transition: all .3s;

}



.features-box3:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box3:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box1 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box2 {

	text-align: center;

	background: transparent;

    border-right: 1px solid #E3E3E3;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.features-box3 {

	text-align: center;

	background: transparent;

    border-bottom: 1px solid #E3E3E3;

	padding-top: 40px;

	padding-bottom: 40px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box4 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box4 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box4:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box5:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box5 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box5 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box5 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box5 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box5:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box5:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box6:hover{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box6 h4 {

	padding: 10px 0;

	font-size: 24px;

    font-weight: 300;

    color: #444;

    line-height: 28px;

}



.features-box6 p {

	padding: 0 24px;

	font-size: 14px;

    line-height: 24px;

}



.features-box6 .icon{

	position: relative;

	text-align: center;

	display: inline-block;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box6 .icon i{

	color: #313538;

	font-size: 48px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box6:hover .icon{

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.features-box6:hover .icon i{

	color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



/***** Product *****/



.product-container {

	margin: 0 auto;

	padding-bottom: 0px;

	background: #f4f4f4;

	color: #888;

    text-align: center;

}



.product {

    margin-top: 60px;

}



.product h3 {

	color: #555;

}



.product p {

	margin-top: 30px;

	font-size: 14px;

    line-height: 24px;

}



.product-text {

    margin-top: 60px;

    padding-bottom: 10px;

}



.product-text p {

	margin-top: 30px;

	padding: 0 10px;

	font-size: 14px;

    line-height: 24px;

}



.product-img {

    text-align: center !important;

	margin-top: 30px;

}



.product-bg1 {

	background: #f4f4f4;

	color: #888;

}

.product-bg1 h3 {

	color: #444;

}



.product-bg2 {

	background: #fff;

	color: #888;

    text-align: left;

	padding-top: 60px;

}



.product-bg2 h5 {

	color: #444;

    font-size: 18px;

    font-weight: 400;

}



.product-button {

	margin-top: 40px;

	margin-left: 10px;

}



.product-button i {

	padding-right: 8px;

	font-size: 24px;

	vertical-align: middle;

}



.product-button {

	margin-top: 40px;

}



	.productbox {

		padding-left: 95px;

		position: relative;

		margin-bottom: 60px;

        min-height: 50px;

	}



	.productbox:hover div {

		color: #fff !important;

	}



	.productbox div {

		position: absolute;

		width: 64px;

		height: 64px;

		border: 1px solid;

		border-radius: 50%;

		-moz-border-radius: 50%;

		-webkit-border-radius: 50%;

		left: 0;

		line-height: 64px;

		text-align: center;

		font-size: 20px;

		color: #0dc0c0 !important;

		border-color: #0dc0c0 !important;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

	}



	.productbox:hover div {

		background-color: #0dc0c0 !important;

	}



/***** Video *****/





.video-container {

    margin: 0 auto;

    padding-bottom: 60px;

    color: #888;

    text-align: center;

    background: #f4f4f4;

}

.video h3 {

    font-family: 'Open Sans', sans-serif;

    font-size: 32px;

    font-weight: 300;

    color: #555;

    line-height: 36px;

	margin-top: 60px;

    margin-bottom: 60px;

}



.video-iframe {

  width: 80%;

  height: 550px;

}



/***** Gallery *****/



.galleryshot-container {

    margin: 0 auto;

    padding-bottom: 60px;

    color: #888;

    text-align: center;

}

.galleryshot h3 {

    font-family: 'Open Sans', sans-serif;

    font-size: 32px;

    font-weight: 300;

    color: #555;

    line-height: 36px;

	margin-top: 60px;

    margin-bottom: 60px;

}



.galleryshot-wrap {

	position:relative;

	overflow:hidden;

	-webkit-transition: all 0.4s;

	-moz-transition: all 0.4s;

	transition: all 0.4s;

}



.galleryshot-wrap img {

	-webkit-transition: all 0.4s;

	-moz-transition: all 0.4s;

	transition: all 0.4s;

}



.galleryshot-wrap:hover img {

	transform:scale(1.1);

	-ms-transform:scale(1.2); /* IE 9 */

	-moz-transform:scale(1.2); /* Firefox */

	-webkit-transform:scale(1.2); /* Safari and Chrome */

	-o-transform:scale(1.2); /* Opera */

	-webkit-transition: all 0.4s;

	-moz-transition: all 0.4s;

	transition: all 0.4s;

}



.galleryshot-img {

	position:absolute;

	width:100%;

	height:100%;

	top:0px;

	left:0px;

	right:0px;

	background:rgba(0,0,0,0.4);

	opacity:0;

	filter: alpha(opacity=0);

	-webkit-transition: all 0.4s;

	-moz-transition: all 0.4s;

	transition: all 0.4s;

}



.galleryshot-wrap:hover .galleryshot-img {

	opacity:1;

	filter: alpha(opacity=100);

	-webkit-transition: all 0.4s;

	-moz-transition: all 0.4s;

	transition: all 0.4s;

	cursor: url('../img/plus.png'), url('../img/plus.png'), move;

}







/***** Testimonials *****/



.testimonials {

    margin-top: 60px;

    padding-bottom: 70px;

    text-align: center;

}



.testimonials h3 {

    font-family: 'Open Sans', sans-serif;

    padding-bottom: 50px;

    font-size: 32px;

    font-weight: 300;

    color: #555;

    line-height: 36px;

}



.testimonials h4{

    color:#555;

    font-weight: 300;

    line-height: 32px;

}

.testimonials  h4 i{

    color:#f99200;

}

.testimonials p{

    font-size: 14px;

    color: #323A45;

    line-height: 20px;

    font-weight: 700;

}



.testimonials img{

	width:100px;

	height:100px;

	display:block;

	margin:10px auto;

    padding: 0px;

	border-radius:100px;

}



/***** Subscription form *****/



.subscribe-container {

	margin: 0 auto;

	padding-bottom: 50px;

	background: #f4f4f4;

	color: #888;

    text-align: center;

}



.subscribe {

    margin-top: 60px;

}



.subscribe h3 {

	color: #555;

}



.subscribe p {

	margin-top: 30px;

	font-size: 16px;

    line-height: 24px;

}



.subscribe form {

    margin-top: 40px;

    margin-bottom: 20px;

}



.subscribe form input {

    width: 362px;

    height: 52px;

	background: #fff;

    border: none;

    border-bottom: 1px solid #E3E3E3;

}



.subscribe form input:focus {

    width: 362px;

    height: 52px;

	background: #fff;

    border: none;

    border-bottom: 1px solid #E3E3E3;

}



.subscribe form button {

    width: 130px;

    height: 52px;

}



.success-message, .error-message {

    font-size: 22px;

    line-height: 36px;

}



.success-message {

	margin: 20px 0 10px 0;

}



.error-message {

	margin: 10px 0;

	color: #F00;

}







/***** Team *****/



.team-container {

    margin: 0 auto;

    background: url("../img/backgrounds/3.jpg");

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

    color: #fff;

    text-align: center;

}



.inner-team {

    padding-bottom: 60px;

    /*background-color: rgba(4, 209, 209, 0.4);*/

}



.team {

    margin-top: 60px;

    padding-bottom: 10px;

}



.team h3 {

    font-family: 'Open Sans', sans-serif;

    color: #fff;

}



.team p {

	margin-top: 30px;

	font-size: 16px;

    line-height: 24px;

	margin-bottom: 30px;

}



.team-member{
    position: relative;
    display: block;
}

.team-member a {
    margin: 25px 25px 0;
    position: relative;
    display: block;
    height: 290px;
    width: 290px;
    border-radius: 50%;
    line-height: 290px;
}

.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #98A0A8;
    transition: all 0.3s;
}
.circle-text span {
    float:left;
    width:80%;
    padding-top:40%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
}
.circle-text:hover:after {
    content: "";
    background: #0dc0c0;
    border: 1px solid #0dc0c0;
}

.team-member img{

	max-width:100%;

	width:100%;

	height: auto;

	margin-bottom: 20px;

}



.team-member h4{

	position: absolute;

	bottom: 50px;

	left:20px;

    font-family: 'Open Sans', sans-serif;

	font-size: 24px;

	font-weight: 600;

	color: #fff;

	padding-right: 20px;

	transition: all 0.3s;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-o-transition: all 0.3s;

}



.team-member p{

	position: absolute;

	bottom: 30px;

	left:20px;

	font-weight: 400;

	color: #fff;

	transition: all 0.3s;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-o-transition: all 0.3s;

}





.team-member .contact-details{

	position: absolute;

	bottom: 90px;

	left:0;

	width:100%;

}





.team-member .contact-details ul{

	margin-bottom: 20px;

	width:100%;

	z-index: 100;

	text-align: center;

	transition: all 0.7s;

	-webkit-transition: all 0.7s;

	-moz-transition: all 0.7s;

	-o-transition: all 0.7s;

}



.team-member .contact-details ul li{

	padding: 0;

}



.team-member .contact-details ul a{

	padding: 10px;

	width:40px;

	height: 40px;

	text-align: center;

	color:#fff;

	display: inline-block;

	opacity: 0;

	z-index: 100;

	line-height: 20px;

	position: relative;

}



.team-member .contact-details ul i{

	font-size: 20px;

}





.team-member:hover .contact-details ul a{

	opacity: 1;

}



.team-member .contact-details ul a:hover{

	background: rgba(255,255,255,0.2);

}











/***** Contact *****/



.inner-contact {

    margin: 0 auto;

    background-color: rgba(26,27,31,0.75);

}



.contact-container {

	margin: 0 auto;

    background: url("../img/2.jpg");

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

}



.contact {

    margin-top: 60px;

    padding-bottom: 20px;

    text-align: center;

}



.contact h3 {

    font-family: 'Open Sans', sans-serif;

    font-size: 32px;

    font-weight: 300;

    color: #fff;

    line-height: 36px;

}



.contact p {

	margin-top: 30px;

    color: #fff;

	font-size: 16px;

    line-height: 24px;

}



.contact-form,

.contact-address {

	padding-bottom: 80px;

}



.form-group h4,

.contact-address h4 {

	padding: 0 0 10px 0;

	font-size: 22px;

    font-weight: 300;

    color: #fff;

    line-height: 28px;

}



.contact-form p {

	margin: 15px 0 0 0;

	font-size: 14px;

	color: #fff;

	line-height: 32px;

}



.contact-form form {

	margin: 15px 0 0 0;

}



.contact-form form input,
.contact-form form textarea {

    width: 90%;

    height: 52px;

    margin-bottom: 20px;
    border-radius: 2px;

}



.contact-form form textarea {

    border-radius: 2px;
	height: 162px;

    margin-bottom: 20px;

    padding: 0 10px;

    vertical-align: middle;

	background: none;

    border: 1px solid #98A0A8;

    font-family: 'Open Sans', sans-serif;

    font-size: 16px;

    font-weight: 300;

    line-height: 50px;

    color: #999;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

    border-radius: 0;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    box-shadow: none;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}



.contact-form form button {

    width: 130px;

    height: 52px;

}



.contact-form form .contact-error {

	border-color: #F00;

}



.contact-address p {

	margin-bottom: 24px;

	color: #fff;

	font-size: 14px;

    line-height: 24px;

}



.contact-address p i {

	padding-right: 15px;

	font-size: 18px;

	color: #fff;

	vertical-align: middle;

}





/***** Footer *****/



.follow-us {

text-align:center;

}



#footer h3 {

	color: #555;

    font-size: 32px;

    font-weight: 300;

    line-height: 36px;

}

#footer p {

	color: #888;

	width: 60%;

	margin: 0 auto 40px;

	margin-top: 30px;

	font-size: 16px;

    line-height: 24px;

}



#footer {

background-color: #fff;

padding: 60px 0 60px;

text-align:center;

}



#footer2 {

	position:relative;

	text-align:center;

	padding:39px 0 36px;

	background: #222;

	color:#999;

	margin:0 0;

	font-size:13px;

	font-weight:400;

}



.copyright a {

color:#aaa;

}



.copyright a:hover {

color: #0dc0c0;

}







.social-icon {

	text-align: center;

    font-size: 36px;

    line-height: 76px;

    color: #323A45;

	padding: 5px;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}

.social-icon :hover {

    color: #0dc0c0;

    -o-transition: all .3s;

    -moz-transition: all .3s;

    -webkit-transition: all .3s;

    -ms-transition: all .3s;

    transition: all .3s;

}


/*
  Custom
*/

.asiana-container {
    text-align: center;
}

.asiana-container h3 {
    color: #555555;
}

.team-container a {
    color: #ffffff;
}

.asiana-container ul {
    display: inline-block;
}

.asiana-container ul li {
    text-align: left;
}

/***** Media queries *****/



@media (min-width: 992px) and (max-width: 1199px) {





}



@media (min-width: 768px) and (max-width: 991px) {



	.top-content .text {

    	padding-top: 25px;

    }



    .features p, .product-text p, .team p, .contact p {

    	padding: 0;

    }

.features-box1, .features-box2, .features-box3, .features-box4, .features-box5, .features-box6 {

    border: none;

}

.highlights {

	padding-left: 20px;

}

.intro-box-left {

	text-align: center;

}

.intro-box-right {

	text-align: center;

}

.video-iframe {

  height: 450px;

}



}



@media (max-width: 991px) {



}



@media (max-width: 767px) {



    body {

        padding-left: 0;

        padding-right: 0;

    }



    .navbar-default.menu-top{

        background-color: #fff !important;

    border-bottom: 1px solid #eee;

        text-align: center;

    width:100%;

    }

.navbar-default.menu-top li a{

    color: #323A45 !important;

}

.navbar-default.menu-top .navbar-brand{

    color: #323A45 !important;

}



    .top-content .text {

    	text-align: center;

    }





    .top-content .logo a, .features h3, .product-text h3, .product-button, .faq-text h3, .subscribe h3, .testimonials h3, .team h3, .contact h3 {

        padding: 0 20px;

    }



    .top-content .description, .features p, .product-text p, .faq-text p, .subscribe p, .testimonials p, .team p, .contact p {

        padding: 0 20px;

    }

   .inner-bg {

	padding-top: 80px;

	padding-bottom: 80px;

}

.top-content h2 {

    font-size: 32px;

    line-height: 52px;

	margin: 110px 0 10px 0;

}



    .features-box p, .team-member p, .contact-address p {

        padding: 0 20px;

    }



.features-box1, .features-box2, .features-box3, .features-box4, .features-box5, .features-box6 {

    border: none;

}





.highlights {

	padding-left: 20px;

}

.intro-box-left {

	text-align: center;

}

.intro-box-right {

	text-align: center;

}



    .contact-form, .contact-address {

        text-align: center;

    }



    .contact-form {

        padding-bottom: 40px;

    }



.contact-form form input,

.contact-form form textarea {

        width: 100%;

}



    .contact-address {

        padding-bottom: 65px;

    }



.reviews-panel p {

    padding: 20px;

    margin-bottom: 0;

}



    .copyright, .social-icon {

        text-align: center;

    }



    .copyright p {

        padding: 0 20px;

    }



    .social-icon {

        margin-top: 15px;

    }

.video-iframe {

  height: 400px;

}



}



@media (max-width: 540px) {

.navbar-default.menu-top li a{

    color: #323A45 !important;

}

.navbar-default.menu-top .navbar-brand{

    color: #323A45 !important;

}



    .subscribe form input {

        width: 90%;

    }



    .subscribe form button {

        width: 90%;

        margin-top: 10px;

    }

.video-iframe {

  height: 300px;

}



}



@media (max-width: 400px) {

.navbar-default.menu-top li a{

    color: #323A45 !important;

}

.navbar-default.menu-top .navbar-brand{

    color: #323A45 !important;

}

.video-iframe {

  height: 200px;

}



}



@media (max-width: 345px) {



.navbar-default.menu-top li a{

    color: #323A45 !important;

}

.navbar-default.menu-top .navbar-brand{

    color: #323A45 !important;

}



    .top-content h2, .top-content .logo a, .features h3, .product-text h3, .product-button, .faq-text h3, .subscribe h3, .testimonials h3, .team h3, .contact h3 {

        padding: 0 20px;

    }

.top-content .description {

    font-size: 22px;

    line-height: 32px;

}

.video-iframe {

  height: 200px;

}



	.btn-lg {

		height: auto;

		padding-bottom: 2px;

	}





	.btn-primary {

		height: auto;

		padding-top: 5px;

		padding-bottom: 5px;

	}





}


.lang-bar {
    position: fixed;
    top: 105px;
    right: 15px;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;

}
.lang-bar.solid {
    top: 65px;
}

.btn-custom {
    background: #35cac3;
    text-align: center;
    line-height: 25px;
    height: 26px;
    font-size: 14px;
    opacity: 0.6;
    border-radius: 2px;
    border: none;
    position:relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 10px;
    color: #ffffff;
}

.btn-custom > .fa {
    margin-top: 4px;
}
.lang-bar:hover .btn-custom,
.lang-bar.open .btn-custom {
    opacity: 1;
}

.lang-bar .dropdown-menu {
    box-shadow: 0 1px 7px rgba(0, 0, 0, .175);
    border: none;
    padding: 3px 10px;
    min-width: 0;
}


.lang-bar .dropdown-menu a {
    padding: 3px 0;
}

.padding-top-0 {
    padding-top: 0;
}

/***** Pricing *****/

.pricing-container {
    margin: 0 auto;
    padding-bottom: 50px !important;
    background: #f4f4f4;
    color: #888;
    text-align: center;
}

.pricing {
    margin-top: 60px;
}

.pricing h3 {
    color: #555;
}

.pricing p {
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 24px;
}

.price-column {
    margin-bottom: 50px;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 25px 15px 15px 15px;
    position: relative;
}


.price-column h2 {
    color:#fff;
    font-size:32px;
    text-align:center;
    background: #323A45;
    margin-bottom: 0;
    padding:30px 0;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
}

.price-column h3 {
    color:#555;
    background: #f0f0f0;
    text-align:center;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 40px 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.price-column h3 span {
    font-weight: 400;
    font-size: 18px;
}

.price-column ul {
    padding:30px;
    list-style: none;
}

.price-column li {
    border-top:1px solid #eee;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color:#888;
    font-weight: 400;
    padding:18px 0;
}

.price-column li:first-child {
    border-top: none;
}

.price-column li:last-child {
    border-bottom:1px solid #eee;
}

.price-column.large {
    margin-bottom: 50px;
}

.price-column.large h2 {
    padding: 30px 0;
    background: #0DC0C0;
}

.price-column.large h3 {
    padding: 40px 0;
}
